# 操作系统文件
.DS_Store
Thumbs.db

# IDE文件
.idea/
.vscode/
*.swp
*.swo

# 日志文件
*.log

# 构建文件
dist/
build/

# 依赖文件
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# 环境变量文件
.env
.env.local
.env.*.local

# Vite
.vite/

# 本地预览
*.local